* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

a {
  text-decoration: none;
  color: #33a3ff
}

.container {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
}

.nav {
    padding: 10px;
    text-align: center;
    background-color: #d3d3d3;
    font-weight: bold;
    font-size: 2rem;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1558981852-426c6c22a060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  height: 73vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3.3rem;
}

.posts {
  padding: 2rem 0;
}

.posts-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.card {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}

.card-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.card-info {
  padding: 20px;
}

.card-info .card-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.post-image {
  width: '100%';
  height: '300px';
  background-position: 'center';
  background-repeat: 'no-repeat';
  background-size: 'cover';
  position: 'relative';
  border-top-right-radius: '2px';
  border-top-left-radius: '2px';
  text-align: center;
  
}

.post h2 {
  text-align: center;
}

.post-content {
  max-width: 900px;
  padding: 0 2rem;
  margin: auto;
}

@media(max-width: 768px) {
  .posts-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero {
    height: 40vh;
    font-size: 2rem;
  }
}

@media(max-width: 600px) {
  .posts-grid-container {
    grid-template-columns: 1fr;
  }
}